<div id="page_create_lobby">
    <h2 class='title'>Create Game</h2>
	<div class="create_lobby_container">
        <label for="game_name" class="game_name_label">Enter game name</label>
        <input name='game_name' id='game_name' />

        <div class="create_lobby_buttons_container">
            <button name="create_lobby_button" class="button" id="create_lobby_button">Create</button>
            <button name="create_lobby_back_button" class="button" id="create_lobby_back_button">Back</button>
        </div>
	</div>
</div>