<div id="page_lobbies">
    <h2 class="title">Username</h2>
    <div class="lobbylistcontainer">
        <div class="lobbylist">
            <div class="lobby prototype" lobby_id="-1">
                <div class="game_name">Game #1</div>
                <div class="nPlayers">1/2</div>
            </div>
        </div>
    </div>

    <div id="lobbies_button_container">
        <button class="lobbies_button button" id="create-lobby">Create</button>
        <button class="lobbies_button button" class="button" id="join-lobby">Join</button>
        <button class="lobbies_button button" class="button" id="refresh-lobbies">Refresh</button>
    </div>
</div>